<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
	   					   http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean class="org.springframework.context.annotation.CommonAnnotationBeanPostProcessor" />
    <bean id="message" class="com.vinodv.initdestroy.MessageImpl"/>
    <bean id="exampleBean" class="com.vinodv.initdestroy.ExampleBeanImpl" init-method="init" destroy-method="destroy"/>
    <bean id="cachingMovieLister" class="com.vinodv.initdestroy.CachingMovieListerImpl"/>

</beans>