<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans.xsd
                           http://www.springframework.org/schema/aop
                           http://www.springframework.org/schema/aop/spring-aop.xsd">


    <bean id="userService" class="io.berkel.aop.xml.service.UserService" />

    <bean id="userAspect" class="io.berkel.aop.xml.aspect.UserAspect" />

    <aop:config>

        <aop:aspect id="userAspect" ref="userAspect">

            <aop:pointcut id="userBeforeAdvice" expression="execution(* io.berkel.aop.xml.service.UserService.someUserService(..))"/>

            <aop:before pointcut-ref="userBeforeAdvice" method="userBeforeAdvice"/>

            <aop:pointcut id="userAfterAdvice" expression="execution(* io.berkel.aop.xml.service.UserService.someUserService(..))"/>

            <aop:after pointcut-ref="userAfterAdvice" method="userAfterAdvice"/>


        </aop:aspect>

    </aop:config>

</beans>